@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
 background-color: #1D3557; 
 color: #FEFEE3;
 font-family: 'Quicksand', sans-serif;
 letter-spacing: 1.5px;
}


.flex-btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
.btns {
    
}