
.dummy{
    /* totally didn't mess it up */
    /* totally wasn't our last hope; DONT LOOK!! I SAID DONT LOOK!! */
    visibility: hidden;
}   
body{
    margin-top: 0;
    padding: 0;
}

.main {
    background-color: #A8DADC;
    color: #1D3557;
    width: 100vw;
}

.header{
    text-align: center;

}

.header > h1 {
    font-size: 144px;
    margin: 5%;
    /* border: 1px solid #F1FAEE; */
    
}

.header > h4 {
    font-size: 32px;
    padding-bottom: 20%;
}

.word_decor{
    text-decoration-line: underline;
    text-decoration-color: #FF7D00;
}

.nav, .menu {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: 1.5%; */
}

.nav {
    position: absolute;
    margin-left: 1.5%;
    margin-top: 1.5%;
    background-color: #F1FAEE;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 5px 0px #457B9D;
    z-index: 99;
}
.nav:hover{
    box-shadow: 1px 1px 20px #457B9D;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 5px 10px;
}

.menu li a {
    text-decoration: none;
    color: #1D3557;
    text-transform: uppercase;
    font-weight: 600;
    /* transition: 0.5s; */
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 25px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}